﻿@model Sankara_Converter.Models.Converter
   

<h2>@ViewData["Title"]</h2> 

<div style="background-image:url(../../../background_01.jpg)">
<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="ZIP_code" class="control-label"></label>
            <input asp-for="ZIP_code" class="form-control" />
            <span asp-validation-for="ZIP_code" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Temp_F" class="control-label"></label>
            <input asp-for="Temp_F" class="form-control" />
            <span asp-validation-for="Temp_F" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>


    </form>
 </div>


<h2>@ViewData["Result"]</h2>

</div>